@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@300&display=swap');

nav {
    width: 60%;
}

.navBarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-top: 20px;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li {
    list-style: none;
    transition: transform .1s;
}

a {
    text-decoration: none;
    color:white;
    font-size: 21px;
    font-family: 'Crimson Pro', serif;
}

.burgerPic {
    display: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
}